.item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 8px;
    background: rgb(19, 24, 34);

    h1 {
        grid-column: 1;
        grid-row: 1;
        font-weight: 700;
        color: rgb(254, 143, 0);

        &::first-letter {
            text-transform: uppercase;
        }
    }
    h2 {
        grid-column-start: span 2;
        grid-row: 2;
        font-weight: 400;
        margin-top: 8px;
        color: rgb(255, 255, 255);

        &::first-letter {
            text-transform: uppercase;
        }
    }
    span {
        grid-column: 2;
        grid-row: 1;
        font-weight: 700;
        padding: 4px 8px;
        border-radius: 4px;
        color: rgb(19, 24, 34);
        background: rgb(240, 139, 10);
    }
    .itemBtn {
        grid-column: span 2;
        grid-row: 3;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 16px;

        button {
            font-size: 14px;
            padding: 8px 16px;
            border-radius: 8px;
            color: rgb(255, 255, 255);
            background: rgba(255, 255, 255, 0.2);
        }
        button:hover {
            background: rgb(240, 139, 10);
        }
        .btnDel:hover {
            background: rgb(238, 74, 52);
        }
    }

    &:hover {
        background: rgb(32, 34, 42);
    }
}

/* Tamanho Desktop */
@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
    .item {
        padding: 16px;

        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 16px;
        }
        span {
            font-size: 16px;
        }
    }
}

/* Tamanho Mobile */
@media screen and (max-device-width: 768px), screen and (max-width: 768px) {
    .item {
        padding: 12px;

        h1 {
            font-size: 18px;
        }
        h2 {
            font-size: 14px;
        }
        span {
            font-size: 12px;
        }
    }
}
