.item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 8px;
    background: #131822;

    h1 {
        grid-column: 1;
        grid-row: 1;
        font-weight: 700;
        color: #FE8F00;
    }
    h2 {
        grid-column-start: span 2;
        grid-row: 2;
        font-weight: 400;
        margin-top: 8px;
        color: #FFFFFF;
    }
    span {
        grid-column: 2;
        grid-row: 1;
        font-weight: 700;
        padding: 4px 8px;
        border-radius: 4px;
        color: #131822;
        background: #F08B0A;
    }
    .itemBtn {
        grid-column: span 2;
        grid-row: 3;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 16px;

        button {
            font-size: 14px;
            padding: 8px 16px;
            border-radius: 8px;
            color: #FFFFFF;
            background: rgba(255, 255, 255, 0.2);
        }
        button:hover {
            background: #F08B0A;
        }
        .btnDel:hover {
            background: #EE4A34;
        }
    }
}


/* Tamanho Desktop */
@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
    .item {
        padding: 16px;

        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 16px;
        }
        span {
            font-size: 16px;
        }
    }
}

/* Tamanho Mobile */
@media screen and (max-device-width: 768px), screen and (max-width: 768px) { 
    .item {
        padding: 12px;

        h1 {
            font-size: 18px;
        }
        h2 {
            font-size: 14px;
        }
        span {
            font-size: 12px;
        }
    }
}