.editor {
    padding: 24px 16px;
    max-width: 1024px;
    margin: auto; // centralizar a página após a largura maxima

    .headerNav {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        gap: 16px;
        margin-bottom: 24px;

        button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 300px;
            padding: 8px 16px;
            font-size: 16px;
            border-radius: 8px;
            color: rgb(255, 255, 255);
            background: rgb(254, 143, 0);

            span {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        button:hover {
            background: rgb(204, 103, 8);
        }
    }
}

/* Tamanho Desktop */
@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
    .editor {
        .pageEdit {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr;
            //grid-auto-flow: dense;
            grid-gap: 16px;

            .itemImgEditor {
                grid-column: 1;
                grid-row-start: span 4;
                align-self: start;
            }

            .itemTagEditor {
                grid-column: 2;
                grid-row: auto;
                align-self: start;
            }

            .item,
            .btnAddItem {
                grid-column: 2;
                grid-row: auto;
            }

            .btnAddTag {
                grid-column: span 2;
                grid-row: auto;
                align-self: start;
            }
        }
    }
}

/* Tamanho Mobile */
@media screen and (max-device-width: 768px), screen and (max-width: 768px) {
    .editor {
        .pageEdit {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 16px;

            .itemTagEditor,
            .itemImgEditor,
            .item,
            .btnAddItem {
                grid-column: 1;
                grid-row: auto;
            }
        }
    }
}
