.menu {
    padding: 0 16px 148px 16px;
    max-width: 1024px;
    margin: auto; // centralizar a página após a largura maxima

    .header {
        display: flex;
        justify-content: center;
    }

    .btnFloatMini {
        position: fixed;
        border-radius: 50%;
        box-shadow: 2px 8px 10px rgba(0, 0, 0, 0.25);
        overflow-x: auto;
        z-index: 5;

        .btnShare {
            background-color: rgb(110, 110, 129);

            img {
                margin: auto;
            }
            &:hover {
                background-color: rgb(68, 171, 202);
            }
        }
    }

    .btnFloatBig {
        position: fixed;
        border-radius: 50%;
        box-shadow: 4px 16px 20px rgba(0, 0, 0, 0.25);
        overflow-x: auto;
        z-index: 5;

        .btnNew {
            background-color: rgb(254, 143, 0);

            img {
                margin: auto;
            }
            &:hover {
                background-color: rgb(204, 103, 8);
            }
        }
    }
}

/* Tamanho Desktop */
@media screen and (min-device-width: 768px), screen and (min-width: 768px) {
    .menu-items {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;
        grid-gap: 16px;

        .itemImg {
            grid-column: 1;
            grid-row-start: span 4;
            align-self: start;
        }
        .itemTag {
            align-self: start;
        }
        .item,
        .itemTag {
            grid-column: 2;
            grid-row: auto;
        }
    }

    .btnFloatMini {
        right: 52px;
        bottom: 140px;

        .btnShare {
            width: 48px;
            height: 48px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .btnFloatBig {
        right: 40px;
        bottom: 48px;

        .btnNew {
            width: 72px;
            height: 72px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}

/* Tamanho Mobile */
@media screen and (max-device-width: 768px), screen and (max-width: 768px) {
    .menu-items {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 16px;

        .itemTag,
        .itemImg,
        .item {
            grid-column: 1;
            grid-row: auto;
        }
    }

    .btnFloatMini {
        right: 22px;
        bottom: 90px;

        .btnShare {
            width: 44px;
            height: 44px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    .btnFloatBig {
        right: 16px;
        bottom: 18px;

        .btnNew {
            width: 56px;
            height: 56px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}
